header[role=banner] hgroup {
  text-align: center;
  
  h1 {
    letter-spacing: -2px;
    display: inline-block;
    font-family: "PT Sans";
    font-weight: bolder;
    margin: 0;
  }

  h2 {
    font-family: "PT-Sans";
  }
}
